<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37535540208-72pd8i47akh02e6j6jeolmhal5hp66js.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37535540208-72pd8i47akh02e6j6jeolmhal5hp66js</string>
	<key>API_KEY</key>
	<string>AIzaSyCJuXASs3Izhn_frZyj8ebNpl8Knig8Vtc</string>
	<key>GCM_SENDER_ID</key>
	<string>37535540208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>marie.DubDubGrub</string>
	<key>PROJECT_ID</key>
	<string>dubdubgrub-1d66d</string>
	<key>STORAGE_BUCKET</key>
	<string>dubdubgrub-1d66d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37535540208:ios:574ca2ab74a331dc7af335</string>
</dict>
</plist>